<li class="list-group-item">
	<p>Burger {{id}}:</p>
    <p>{{burger_name}}</p>
    <span>
		<button class="btn btn-success change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}EATEN!{{else}}EAT IT!{{/if}}
		</button>
	</span>
</li>